.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 2em;
}

.showContent {
    line-height: 1em;
    height: auto;
}
.skills .skills-content .left .kotlin::before {
    width: 10%
}